.headerLinks {
  display: flex;
  gap: 40px;
}

.headerLink {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

.headerLink:visited {
  color: #333;
}

.headerLink.active {
  color: rgb(222, 215, 215);
  background-color: purple;
}
