.user_menu {
  margin-right: 24px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.user_menu > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

  margin-bottom: 0;
}
.user_menu > button {
  padding: 5px 10px;
  font-size: 16px;

  border-radius: 15px;

  background-color: rgba(116, 115, 115, 0.3);
}
.user_menu > button:hover,
.user_menu > button:active {
  background-color: rgba(116, 115, 115, 0.5);
}
